
body{
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: sans-serif;
	background: #000;
}
.container-fluid{
	padding:0px;
}
.container-fluid .navbar{
	padding: 0px;
}
.container-fluid .navbar .navbar-brand{
	padding: 0px;
}
.navbar-expand-md .navbar-nav .nav-link{
	padding-right: 10px;
	padding-left: 10px; 
}
.navbar{
	background: #fff;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.5;
	font-size: 14px;
	padding-right: 15px !important;
}
.single-banner{
	position: relative;
}
.single-banner img{
	max-width: 100%;
}
.banner-title{
	position: absolute;
	top:18%;
	left: 9%;
}
.banner-title h1{
	color: #fdfd45;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
}
.banner-title h2{
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
}
.content{
	font-family: 'Open Sans', sans-serif;
	width: 70%;
	padding: 50px 0px;
}
.content .content-title{
	color: #fdfd45;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
}
.content .content-text{
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	line-height: 2;
	letter-spacing: 1px;
}
.floatting-form{
	background-color: #333;
    right: 8%;
    position: fixed;
    top: 18%;
    width: 23%;
    z-index: 2;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
}
.floatting-form .form-horizontal{
	padding: 20px;
	text-align: center;
}
.floatting-form .form-horizontal .form-title{
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	padding-bottom: 15px;
}
.floatting-form .form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
    padding: 0 5px;
    margin-bottom: 10px;
}
.floatting-form .form-horizontal .form-group input{
	width: 100%;
	margin-bottom: 5px;
}   
.floatting-form .form-horizontal .form-group .form-checkbox{
	text-align: left !important;
	font-size: 12px;
	color: #fff;
}
.floatting-form .form-horizontal .form-group .form-checkbox input {
	width: auto;
	font-size: 12px;
}
.btn-primary{
	background: #ffff00;
    display: inline-block;
    font-weight: 600;
    padding: 15px 30px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 0;
    border:none;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #333;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
	background: #f0f001;
	color: #333;
}
.form-counting{
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 0px;
}
.form-counting-number{
	font-size: 40px;
	color: #fdfd45;
	font-weight: 600;
	margin-bottom: 0px;
}
